.input {
  width: 100%;
  padding: 3px 12px;
  border-radius: 12px;
  font-size: 1.4rem;

  &:hover,
  &:focus {
    border-color: var(--color-medium-light-blue);
  }

  &::placeholder {
    color: var(--color-medium-gray);
    opacity: 1;
  }

  &.invalid {
    color: var(--color-dark-red);
    border-color: var(--color-dark-red);

    &::placeholder {
      color: var(--color-dark-red);
    }
  }

  &[disabled] {
    color: var(--color-medium-light-gray);
    background-color: var(--color-light-gray);
    border-color: var(--color-medium-light-gray);
    cursor: not-allowed;

    &::placeholder {
      color: var(--color-medium-light-gray);
    }
  }
}