.container {
  width: 80%;
  text-align: start;
}

.inputWrapper {
  position: relative;
}

.input {
  padding-right: 39px;
}

.toggleVisibilityButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.red {

    .icon {
      color: #D40000;
    }
  }
}